@tailwind base;
@tailwind components;
@tailwind utilities;

/* Home.css */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-cursor {
  from, to { border-color: transparent; }
  50% { border-color: black; }
}

.typewriter {
  position: relative;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-cursor 750ms step-end infinite;
}

.typing-cursor {
  position: absolute;
  top: 0;
  right: 0;
  width: .15em;
  height: 100%;
  background: black;
  animation: blink-cursor 750ms step-end infinite;
}
